.header {
  color: $mainBlue;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo-container {
    height: 100%;
    margin-right: auto;
    display: flex;
  }

  &__logo {
    transform: scale(0.7);
    align-items: center;
    justify-content: left;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    & > ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > li {
        margin-right: 1.5em;
      }
    }
  }
  &__user-links {
    & > a {
      margin: 0 0.5em;
    }
  }
}
